<div *ngIf="list">
  <div>
    <button routerLink="/home" class="header">
      <
    </button>
    <h1 #test class="header">{{ list.title }}</h1>
    <button class="header" (click)="addtodo()">
      +
    </button>
  </div>

  <form>
    <div *ngFor="let t of list.items; let i = index">
      <input type="checkbox" id="checkComplete" [checked]="t.completed" (change)="t.completed = !t.completed">
      <label for="checkComplete" (click)="activetodo=t">{{ t.name }}</label>
      <button>
        -
      </button>

      <app-todo-description>

      </app-todo-description>
    </div>
  </form>

  <button (click)="delete()">
    Delete
  </button>
</div>
<app-todoview *ngIf="activetodo" [todo]="activetodo" (delete)="deletetodo()" (save)="save($event)">

</app-todoview>