<div>
  <div *ngIf="todos">
    <button routerLink="/home" class="header">
      <
    </button>
    <h1 #test class="header" contenteditable="true" (blur)="title=test.innerText">{{ title }}</h1>
    <button routerLink="" class="header">
      +
    </button>
  </div>

  <form>
    <div *ngFor="let t of todos; let i = index">
      <input type="checkbox" id="checkComplete" [checked]="t.completed" (change)="t.completed = !t.completed">
      <label for="checkComplete">{{ t.name }}</label>
      <button>
        -
      </button>

      <app-todo-description>

      </app-todo-description>
    </div>
  </form>

  <button>
    Delete
  </button>
</div>
