<div class="listitem">
  <div class="tobbar">
    <button class="back-button" (click)="updatedItem.emit()">&lt;</button>
    <span class="viewtitle">List Item</span>
  </div>
  <label>
    Name
    <input [(ngModel)]="listobject.items[index].name" />
  </label>
  <input type="checkbox" [(ngModel)]="listobject.items[index].done" />
  <br>
  <label>
    Description
    <br>
    <textarea [(ngModel)]="listobject.items[index].text"></textarea>
  </label>
  <br>
  <button class="update-button" (click)="updateList()">Submit</button>
</div>